# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfstate.backup
.terraform/

# Packer
packer_cache/
*.auto.pkrvars.hcl
*.box
.packer.d/

# Ansible
*.retry
.ansible/

# Secrets
.envrc

# OS junk
.DS_Store
Thumbs.db

# K8s
admin.conf
*.kubeconfig
**/.kube/config
